header img {
width: 200px;

}

nav{
text-align: center;
}
h1 {
    text-align: center;
   color:red;
}
 h2{
     text-align: center;
     color: blue;
 }
 p   {
     text-align: center;
padding: 5px;
margin-bottom:0%;
margin: 5px;
color:indigo;
font-size: 25px;

  }
img {
    width: 200px;
    height: 200px;
    float:center;
}



  footer {
      text-align: center;
  }
  body {
background-size: 0mm;
background-color:khaki;
}